[Unit]
Description=Running network configuration script when usbnet adapter is connected to Eyelock EXT system
[Service]
ExecStart=/bin/bash /home/root/configure_network.sh
Type=forking
