#actions
{
   position : relative;
   top : 50px\9;
}

#logheadertable th{
   background: #d6e9c6\9;
}

#restoreheadertable th{
   background: #d6e9c6\9;
}

#bobrestoreheadertable th{
   background: #d6e9c6\9;
}
.select-style select::-ms-expand {
    display:none;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   /* IE10+ specific styles go here */  
  
  #actions
  {
     position: relative;
     top: 50px;
  }
}
