.country {
    margin: 0px;
    padding: 5px;
    border: none;
    display: inline-block;
    font-family: tahoma;
    font-size: 12px;
}
 
.country i {
    background: url(/img/flags.png) no-repeat;
    display: inline-block;
    width: 16px;
    height: 11px;
}
