/* Use this next selector to style things like font-size and line-height:  */
.webconfig-theme {
	background: #a6b969;
    cursor: help;
    background: -webkit-gradient(linear, left top, left bottom, from(#f0f2e9), to(#a6b969));
	background: -webkit-linear-gradient(top, #f0f2e9, #a6b969);
   	background: -moz-linear-gradient(top, #f0f2e9, #a6b969);
	background: -ms-linear-gradient(top, #f0f2e9, #a6b969);
	background: -o-linear-gradient(top, #f0f2e9, #a6b969);
	background: linear-gradient(top, #f0f2e9, #a6b969);
	background-color:#a6b969;
   /* border-left: 5px solid #78864C;
    border-left: 5px solid #D5E14D;*/
    border-radius:  3px;
   	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.5), 0 0 5px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.5), 0 0 5px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.5), 0 0 5px rgba(0, 0, 0, 0.1) inset;
}

/* Use this next selector to style things like font-size and line-height: */
.webconfig-theme .tooltipster-content {
	font-family: Arial, sans-serif;
	font-size: 12px;
	line-height: 16px;
  	padding: 1em 1em 1em 1em;
}




