#loading-div-background 
{
    display:none;
    position:fixed;
    top:0;
    left:0;
    background:black;
    width:100%;
    height:100%;
    z-index: 1000;
}


#loading-div-container
{
    display:none;
    width: 380px;
    height: 250px;
    background-color: #FFFFFF;
    text-align:center;
    position:absolute;
    left: 50%;
    top: 250px;
    margin-left:-190px;
    margin-top: 0px;
    opacity: 1;
    padding: 0px;
    z-index: 1001;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;  
}


#loading-div
{
    width: 380px;
    height: 250px;
    margin-top: 0px;
    background-color: #FFFFFF;
    text-align:center;
    position:absolute;
    left: 50%;
    margin-left:-190px;
    opacity: 1;
    z-index: 1002;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image: -moz-linear-gradient(top, #fff, #eee);
    background-image: -ms-linear-gradient(top, #fff, #eee);
    background-image: -o-linear-gradient(top, #fff, #eee);
    background-image: linear-gradient(top, #fff, #eee);  
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;  
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
