.center{
	text-align:left;
}

#logtable{
	width:100%;
	max-width:1600px;
}

#logheadertable{
	width:100%;
	max-width:1600px;
}

#logheadertable th{
    height:22px;
    color:#333;
    border-bottom:1px solid #a6b969;
    text-align: center;   
	background: #fff;
    font-weight: normal;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(166,185,105, .1)), to(rgba(106,125,48, .4)));
	background: -webkit-linear-gradient(top, rgba(166,185,105, .1), rgba(106,125,48, .4));
   	background: -moz-linear-gradient(top, rgba(166,185,105, .1), rgba(106,125,48, .4));
	background: -ms-linear-gradient(top, rgba(166,185,105, .1), rgba(106,125,48, .4));
	background: -o-linear-gradient(top, rgba(166,185,105, .1), rgba(106,125,48, .4));
	background: linear-gradient(top, rgba(166,185,105, .1), rgba(106,125,48, .2));
}

#logheadertable th.right{
	border-right:1px solid #a6b969;
}


#restoretable{
	width:100%;
	max-width:1600px;
}

#restoreheadertable{
	width:100%;
	max-width:1600px;
}

#restoreheadertable th{
    height:22px;
    color:#333;
    border-bottom:1px solid #a6b969;
    text-align: center;   
	background: #fff;
    font-weight: normal;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(166,185,105, .1)), to(rgba(106,125,48, .4)));
	background: -webkit-linear-gradient(top, rgba(166,185,105, .1), rgba(106,125,48, .4));
   	background: -moz-linear-gradient(top, rgba(166,185,105, .1), rgba(106,125,48, .4));
	background: -ms-linear-gradient(top, rgba(166,185,105, .1), rgba(106,125,48, .4));
	background: -o-linear-gradient(top, rgba(166,185,105, .1), rgba(106,125,48, .4));
	background: linear-gradient(top, rgba(166,185,105, .1), rgba(106,125,48, .2));
}

#restoreheadertable th.right{
	border-right:1px solid #a6b969;
}


#bobrestoretable{
	width:100%;
	max-width:1600px;
}

#bobrestoreheadertable{
	width:100%;
	max-width:1600px;
}

#bobrestoreheadertable th{
    height:22px;
    color:#333;
    border-bottom:1px solid #a6b969;
    text-align: center;   
	background: #fff;
    font-weight: normal;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(166,185,105, .1)), to(rgba(106,125,48, .4)));
	background: -webkit-linear-gradient(top, rgba(166,185,105, .1), rgba(106,125,48, .4));
   	background: -moz-linear-gradient(top, rgba(166,185,105, .1), rgba(106,125,48, .4));
	background: -ms-linear-gradient(top, rgba(166,185,105, .1), rgba(106,125,48, .4));
	background: -o-linear-gradient(top, rgba(166,185,105, .1), rgba(106,125,48, .4));
	background: linear-gradient(top, rgba(166,185,105, .1), rgba(106,125,48, .2));
}

#bobrestoreheadertable th.right{
	border-right:1px solid #a6b969;
}


.sizeabletable tr:nth-child(odd) { background-color: #fbfbfb }

.sizeabletable tr:nth-child(even) { background-color: rgba(166,185,105,.1); }


.sizeabletable tr:hover td { background:#a6b969; }


.sizeabletable tr {
    height: 20px;
    font-weight: 300;
}

.sizeabletable td{
    overflow: hidden;
    white-space:  normal;
    text-overflow: ellipsis;
    word-wrap:  break-word;
	color:#444;
    cursor: default;
}

.sizeabletable td.left{
	/*border-left:1px solid #2e638e;*/
}

.sizeabletable td.center{
    text-align: center; 
    vertical-align: middle;
}

.sizeabletable td.right{
	border-right:1px dotted #a6b969;
}

.sizeabletable td.indent {
    text-indent: .5em;
}


.sizeabletable td.bottom{
	/*border-bottom:1px solid #2e638e;*/
}

#keyheadertable {
	table-layout:fixed;
	resize:horizontal;
	width:100%;
	border:1px solid #a6b969;
}
 
#keyheadertable th {
	border-right:1px solid #a6b969;
	text-align:center;
	height:22px;
    	color:#333;
    	text-align: center;   
	background: #fff;
    	font-weight: normal;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(166,185,105, .1)), to(rgba(106,125,48, .4)));
	background: -webkit-linear-gradient(top, rgba(166,185,105, .1), rgba(106,125,48, .4));
   	background: -moz-linear-gradient(top, rgba(166,185,105, .1), rgba(106,125,48, .4));
	background: -ms-linear-gradient(top, rgba(166,185,105, .1), rgba(106,125,48, .4));
	background: -o-linear-gradient(top, rgba(166,185,105, .1), rgba(106,125,48, .4));
	background: linear-gradient(top, rgba(166,185,105, .1), rgba(106,125,48, .2));
}

#keytable {
	table-layout:fixed;
	resize:horizontal;
	width:100%;
}

#keytable td {
	border-right:1px dotted #a6b969;
	text-align:center;
}

#keytable td:nth-child(2) {
	width:54%;
	text-align: left;
	padding-left: 40px;
}
#keytable td:nth-child(3) {
	width:20%;
}