#repeatauthctrl {
    margin: 13px 0 10px 0; /*bottom margin of 10*/
    width: 350px;
    height: 16px;    
    top: 150px;
    background: url('/img/duration-background-grey.png') no-repeat left top;
}


#iriswaittime {
    margin: 13px 0 10px 0; /*bottom margin of 10*/
    width: 350px;
    height: 16px;
    top: 150px;
    background: url('/img/duration-background-grey.png') no-repeat left top;
}


#iriscapturetimeoutctrl {
    margin: 13px 0 10px 0; /*bottom margin of 10*/
    width: 350px;
    height: 16px;    
    top: 150px;
    background: url('/img/duration-background-grey.png') no-repeat left top;
}

#iriscapturedelayctrl {
    margin: 13px 0 10px 0; /*bottom margin of 10*/
    width: 350px;
    height: 16px;    
    top: 150px;
    background: url('/img/duration-background-grey.png') no-repeat left top;
}

#imagequalityctrl {
    margin: 13px 0 10px 0; /*bottom margin of 10*/
    width: 350px;
    height: 16px;    
    top: 150px;
    background: url('/img/duration-background-grey.png') no-repeat left top;
}


#waitpintime {
    margin: 13px 0 10px 0; /*bottom margin of 10*/
    width: 350px;
    height: 16px;
    top: 150px;
    background: url('/img/duration-background-grey.png') no-repeat left top;
}

#negmatchctrl {
    margin: 13px 0 10px 0; /*bottom margin of 10*/
    width: 350px;
    height: 16px;    
    top: 150px;
    background: url('/img/duration-background-grey.png') no-repeat left top;
}


#player {
    margin: 13px 0 10px 0; /*bottom margin of 10*/
    width: 350px;
    height: 16px;    
    top: 150px;
    background: url('/img/volume-background-grey.png') no-repeat left top;
}


#playerhz {
    margin: 13px 0 10px 0; /*bottom margin of 10*/
    width: 350px;
    height: 16px;    
    top: 150px;
}


#playerduration {
    margin: 13px 0 10px 0; /*bottom margin of 10*/
    width: 350px;
    height: 16px;    
    top: 150px;
    background: url('/img/duration-background-grey.png') no-repeat left top;
}


#playerled {
    margin: 13px 0 10px 0; /*bottom margin of 10*/
    width: 350px;
    height: 16px;    
    top: 150px;
    background: url('/img/led-background-grey.png') no-repeat left top;
}


#tampervol {
    margin: 13px 0 10px 0; /*bottom margin of 10*/
    width: 350px;
    height: 16px;    
    top: 150px;
    background: url('/img/volume-background-grey.png') no-repeat left top;
}


#dhcptimeout {
    margin: 13px 0 10px 0; /*bottom margin of 10*/
    width: 350px;
    height: 16px;    
    top: 150px;
    background: url('/img/duration-background-grey.png') no-repeat left top;
}


#dhcpretries {
    margin: 13px 0 10px 0; /*bottom margin of 10*/
    width: 350px;
    height: 16px;    
    top: 150px;
}


#dhcpretrydelay {
    margin: 13px 0 10px 0; /*bottom margin of 10*/
    width: 350px;
    height: 16px;    
    top: 150px;
    background: url('/img/duration-background-grey.png') no-repeat left top;
}

#helpdelay {
    margin: 13px 0 10px 0; /*bottom margin of 10*/
    width: 350px;
    height: 16px;    
    top: 150px;
    background: url('/img/duration-background-grey.png') no-repeat left top;
}


#playerrelaytime {
    margin: 13px 0 10px 0; /*bottom margin of 10*/
    width: 350px;
    height: 16px;    
    top: 150px;
    background: url('/img/duration-background-grey.png') no-repeat left top;
}

#playerdenyrelaytime {
    margin: 13px 0 10px 0; /*bottom margin of 10*/
    width: 350px;
    height: 16px;    
    top: 150px;
    background: url('/img/duration-background-grey.png') no-repeat left top;
}


#playernegmatchresettimer {
    margin: 13px 0 10px 0; /*bottom margin of 10*/
    width: 350px;
    height: 16px;    
    top: 150px;
    background: url('/img/duration-background-grey.png') no-repeat left top;
}


.slidey
{
    position: absolute;
    margin: 0px 0px 0px 25px; /*left margin of 25*/
    height:16px;
    width: 300px;
    background: url('/img/volume-empty-grey.png') no-repeat left top;
    border: none;
    outline: none;
}

.slidey .ui-slider-range-min
{
    height:16px;
    width: 300px;
    position: absolute;
    background: url('/img/volume-full-grey.png') no-repeat left top;
    border: none;
    outline: none;
}

.slidey .ui-slider-handle
{
    width: 18px;
    height:18px;
    background: url('/img/volume-knob-grey.png') no-repeat left top;
    position: absolute;
    margin-left: -9px;
    margin-top: 2px;
    cursor: pointer;
    outline: none;
    border: none;
}


.ui-slider-tick-mark
{
    display:inline-block;
    width:1px;
    background:#a6b969;
    height:8px;
    position:absolute;
    top:11px;
}
