	body, html
	{
		height: 100%;
	}

	body 
	{
		font: 12px 'Lucida Sans Unicode', 'Trebuchet MS', Arial, Helvetica;    
		margin: 0;
		-webkit-font-smoothing: antialiased;
		color: #333;
		background-color: #fff;
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(166,185,105, .1)), to(rgba(106,125,48, .4)));
		background-image: -webkit-linear-gradient(top, rgba(166,185,105, .1), rgba(106,125,48, .4));
   		background-image: -moz-linear-gradient(top, rgba(166,185,105, .1), rgba(106,125,48, .4));
		background-image: -ms-linear-gradient(top, rgba(166,185,105, .1), rgba(106,125,48, .4));
		background-image: -o-linear-gradient(top, rgba(166,185,105, .1), rgba(106,125,48, .4));
		background-image: linear-gradient(top, rgba(166,185,105, .1), rgba(106,125,48, .4));
	}


	.header-content
	{
		/*z-index: 2;*/
		text-align: left;
		width: 100%;
		font-size: 12px;
		line-height: 140%;
		padding-top: 10px;
		background: #fff;
		padding: 15px;
		position: absolute;
		left: 0;
		box-sizing: border-box;
		-webkit-animation-duration: 0.5s;
		-o-animation-duration: 0.5s;
		-moz-animation-duration: 0.5s;
		animation-duration: 0.5s;
		background-color: #fff;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fafafa));
		background-image: -webkit-linear-gradient(top, #fff, #fafafa);
		background-image: -moz-linear-gradient(top, #fff, #fafafa);
		background-image: -ms-linear-gradient(top, #fff, #fafafa);
		background-image: -o-linear-gradient(top, #fff, #fafafa);
		background-image: linear-gradient(top, #fff, #fafafa);  
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;  
		-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 5px rgba(0, 0, 0, 0.5) inset;
		-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 5px rgba(0, 0, 0, 0.1) inset;
		box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 5px rgba(0, 0, 0, 0.1) inset;
	}
     
   

	.tab-content
	{
		/*z-index: 2;*/
		display: none;
		text-align: left;
		width: 100%;
		height:  fit-content;

		font-size: 12px;
		line-height: 140%;
		padding-top: 10px;
		background: #fff;
		padding: 15px;
		position: absolute;
		left: 0;
		box-sizing: border-box;
		-webkit-animation-duration: 0.5s;
		-o-animation-duration: 0.5s;
		-moz-animation-duration: 0.5s;
		animation-duration: 0.5s;
		background-color: #fff;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
		background-image: -webkit-linear-gradient(top, #fff, #eee);
		background-image: -moz-linear-gradient(top, #fff, #eee);
		background-image: -ms-linear-gradient(top, #fff, #eee);
		background-image: -o-linear-gradient(top, #fff, #eee);
		background-image: linear-gradient(top, #fff, #eee);  
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;  
		-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	}
    
    .tab-content-security
	{
		/*z-index: 2;*/
		display: none;
		text-align: left;
		width: 100%;
        height:  fit-content;
		font-size: 12px;
		line-height: 140%;
		padding-top: 10px;
		background: #fff;
		padding: 15px;
		position: absolute;
		left: 0;
		box-sizing: border-box;
		-webkit-animation-duration: 0.5s;
		-o-animation-duration: 0.5s;
		-moz-animation-duration: 0.5s;
		animation-duration: 0.5s;
		background-color: #fff;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
		background-image: -webkit-linear-gradient(top, #fff, #eee);
		background-image: -moz-linear-gradient(top, #fff, #eee);
		background-image: -ms-linear-gradient(top, #fff, #eee);
		background-image: -o-linear-gradient(top, #fff, #eee);
		background-image: linear-gradient(top, #fff, #eee);  
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;  
		-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	}

     .tabs input[type=radio]
	{
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    
	.tabs
	{
		width: 900px;
       
		float: none;
		list-style: none;
		position: relative;
		padding: 0;
		margin: 0px auto;
	}

	.tabs li
	{
		float: left;
	}

	.tabslabel
	{
		display: block;
		padding: 10px 20px;
		border-radius: 2px 2px 0 0;
		color: #333;
		font-size: 14px;
		cursor: pointer;
		position: relative;
		top: 3px;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
       /* background: url('') no-repeat left 10px;*/
	}

	.tabslabel:hover
	{
        background-color: rgba(255,255,255,0.5);

        /*background: url('/img/validatefailed.gif') rgba(255,255,255,0.5) no-repeat left 10px;*/
		top: 0;
	}
       
	[id^=tab]:checked + label
	{
		color: #333;
		top: 0;
        background-color: #a6b969;
        /*background: url('/img/validatefailed_selected.gif') #a6b969 no-repeat left 10px;*/
	}
    
       
	[id^=tab]:checked ~ [id^=tab-content]
	{
		display: block;
	}

	.fadeIn
	{
		height: 740px;
		width: 900px;
	}

	.tab-content fieldset
	{   
		margin: 1.5em 0 0 0;
		padding: 0;  
		float: left;  
		width: 100%;  
		margin: 0 0 1.5em 0;  
		padding: 0;  
		clear: left;
	}  


	.tab-content legend
	{   
		margin-left: 1em;   
		color: #333;   
		font-size: 13px;
	}  

    
	.tab-content li input[type=radio]
	{
		position: relative;
		top: 0;
		left: 0;
	}


	.tab-content fieldset ol
	{   
		padding: 1em 1em 0 1em;   
		list-style: none;  
	}  

	.tab-content fieldset li
	{   
		float: none;
		padding-bottom: 1em;  
	}  

	.tab-content fieldset.submit
	{   
		border-style: none;  
	}

	h2:after, h2:before
	{
		background-color: #777;
		content: '';
		height: 1px;
		position: absolute;
		top: 55px;
		width: 450px;   
	}

	h2:after
	{ 
		background-image: -webkit-gradient(linear, left top, right top, from(#777), to(#fff));
		background-image: -webkit-linear-gradient(left, #777, #fff);
		background-image: -moz-linear-gradient(left, #777, #fff);
		background-image: -ms-linear-gradient(left, #777, #fff);
		background-image: -o-linear-gradient(left, #777, #fff);
		background-image: linear-gradient(left, #777, #fff);      
		right: 0;
	}

	h2:before
	{
		background-image: -webkit-gradient(linear, right top, left top, from(#777), to(#fff));
		background-image: -webkit-linear-gradient(right, #777, #fff);
		background-image: -moz-linear-gradient(right, #777, #fff);
		background-image: -ms-linear-gradient(right, #777, #fff);
		background-image: -o-linear-gradient(right, #777, #fff);
		background-image: linear-gradient(right, #777, #fff);
		left: 0;
	}

	#oldpassword
	{
		background-position: 5px -58px !important;
	}

	#newpassword
	{
		background-position: 5px -58px !important;
	}

    #confirmpassword
	{
		background-position: 5px -58px !important;
	}

	.password
	{
		color: #333;
		background: #f1f1f1 url('/img/login-sprite.png') no-repeat;
		padding: 8px 8px 8px 30px;
		width: 353px; /* 353 + 2 + 45 = 400 */
		border: 1px solid #ccc;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
		-webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
		box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
        resize: none;
	}

	.password:focus
	{
		color: #000;
		background-color: #fff;
		border-color: #a6b969;
		outline: none;
		-moz-box-shadow: 0 0 0 1px #a6b969 inset;
		-webkit-box-shadow: 0 0 0 1px #a6b969 inset;
		box-shadow: 0 0 0 1px #a6b969 inset;
        resize: none;
	}

	.bigedit
	{
		color: #333;
		background: #f1f1f1;
		padding: 8px 8px 8px 8px;
		margin: 0 0 0px 0;
		width: 353px; /* 353 + 2 + 45 = 400 */
		border: 1px solid #ccc;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
		-webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
		box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
	}

	.bigedit:focus
	{
		color: #000;
		background-color: #fff;
		border-color: #a6b969;
		outline: none;
		-moz-box-shadow: 0 0 0 1px #a6b969 inset;
		-webkit-box-shadow: 0 0 0 1px #a6b969 inset;
		box-shadow: 0 0 0 1px #a6b969 inset;
	}


    .bigedit:disabled
    {
        color: #888;
    }
    
	.gradientfieldset
	{
		color: #333;
		clear: both;     
		border: 1px solid #a6b969;
		border-radius: 5px;
		margin-bottom: 5px;     
	}
    

	.gradientfieldsetright,
	.gradientfieldsetleft
	{
		clear:  none !important;
		color: #333;
		border: 1px solid #a6b969;
		border-radius: 5px;
		margin-bottom: 5px;
		padding: 0;
		/*height:  204px;*/
	}

	.gradientfieldsetright
	{
		float: right !important;
		width: 50% !important;
	}

	.gradientfieldsetleft
	{
		float: left !important;
		width: 413px !important;
	}

	.normallabel
	{
		color: #333;
		display: block;
		float: left;  
		width: 12em;  
		padding: 10px 0px;
		font-size: 12px;
		margin-right: 1em;  
		text-align: right;  
		position:relative;
        cursor: help;
        resize: none;
	}
    

	.mediumlabel
	{
		color: #333;
		display: block;
		float: left;  
		width: 12em;  
		padding: 10px 0px;
		font-size: 12px;
		margin-right: 1em;  
		text-align: right;  
		position:relative;
        cursor: help;
	}


    
	.widelabel
	{
		color: #333;
		display: block;
		float: left;  
		width: 18em;  
		padding: 10px 0px;
		font-size: 12px;
		margin-right: 1em;  
		text-align: right;  
		position:relative;
        cursor: help;
	}

    .submit
    {		
        background-color: #ffb94b;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb6f), to(#ffb94b));
        background-image: -webkit-linear-gradient(top, #fddb6f, #ffb94b);
        background-image: -moz-linear-gradient(top, #fddb6f, #ffb94b);
        background-image: -ms-linear-gradient(top, #fddb6f, #ffb94b);
        background-image: -o-linear-gradient(top, #fddb6f, #ffb94b);
        background-image: linear-gradient(top, #fddb6f, #ffb94b);
    
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    
        text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    
         -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
         -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
         box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
    
        border-width: 1px;
        border-style: solid;
        border-color: #d69e31 #e3a037 #d5982d #e3a037;

        float: left;
        height: 35px;
        padding-left: 1em;
        padding-right: 1em;
        cursor: pointer;
        font: bold 15px Arial, Helvetica;
        color: #8f5a0a;
    }

    .submit:hover,.submit:focus
    {		
        background-color: #fddb6f;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb94b), to(#fddb6f));
        background-image: -webkit-linear-gradient(top, #ffb94b, #fddb6f);
        background-image: -moz-linear-gradient(top, #ffb94b, #fddb6f);
        background-image: -ms-linear-gradient(top, #ffb94b, #fddb6f);
        background-image: -o-linear-gradient(top, #ffb94b, #fddb6f);
        background-image: linear-gradient(top, #ffb94b, #fddb6f);
    }	

    .submit:active
    {		
        outline: none;
   
         -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
         -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
         box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;		
    }

    .submit::-moz-focus-inner
    {
      border: none;
    }
    
    .submit:disabled
    {
         background-color: rgba(0, 0, 0, 0.3);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#aaaaaa));
        background-image: -webkit-linear-gradient(top, #dddddd, #aaaaaa);
        background-image: -moz-linear-gradient(top, #dddddd, #aaaaaa);
        background-image: -ms-linear-gradient(top, #dddddd, #aaaaaa);
        background-image: -o-linear-gradient(top, #dddddd, #aaaaaa);
        background-image: linear-gradient(top, #dddddd, #aaaaaa);
         text-shadow: 0 1px 0 rgba(1,1,1,0.5);
         color: #c0c0c0 ;
 	border-color: #c0c0c0 #c0c0c0 #c0c0c0 #c0c0c0 ;
	}


.browse {
    position: relative;
}


.browse [type=file] {
    cursor: inherit;
    display: block;
    filter: alpha(opacity=0);
    opacity:  0;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    right: 0px;
    text-align: right;
    top: -999px;
}

 .browse:[type=file]:disabled
    {
         background-color: rgba(0, 0, 0, 0.3);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#aaaaaa));
        background-image: -webkit-linear-gradient(top, #dddddd, #aaaaaa);
        background-image: -moz-linear-gradient(top, #dddddd, #aaaaaa);
        background-image: -ms-linear-gradient(top, #dddddd, #aaaaaa);
        background-image: -o-linear-gradient(top, #dddddd, #aaaaaa);
        background-image: linear-gradient(top, #dddddd, #aaaaaa);
         text-shadow: 0 1px 0 rgba(1,1,1,0.5);
         color: #c0c0c0 ;
 	border-color: #c0c0c0 #c0c0c0 #c0c0c0 #c0c0c0 ;
	}
 
    .browse:disabled
    {
         background-color: rgba(0, 0, 0, 0.3);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#aaaaaa));
        background-image: -webkit-linear-gradient(top, #dddddd, #aaaaaa);
        background-image: -moz-linear-gradient(top, #dddddd, #aaaaaa);
        background-image: -ms-linear-gradient(top, #dddddd, #aaaaaa);
        background-image: -o-linear-gradient(top, #dddddd, #aaaaaa);
        background-image: linear-gradient(top, #dddddd, #aaaaaa);
         text-shadow: 0 1px 0 rgba(1,1,1,0.5);
         color: #c0c0c0 ;
 	border-color: #c0c0c0 #c0c0c0 #c0c0c0 #c0c0c0 ;
	}
    
     .footer {
        z-index: 4;
		width: 100%;
        position: absolute;
        margin-top: 730px;
     }
     
    textarea {
    width: 830px;
    height: 390px;
    resize: none;
}

     .header {
            vertical-align: middle; 
            width: 900px;
            height: 100px;
            margin: 0px auto 0px;
     }
     

    .groupradio
    {
		position: relative !important;
		top: 0px !important;
		left: 0px !important;
        z-index: 10;
    }
   
    .normalradio
    {
		position: relative !important;
		top: 0px !important;
		left: 0px !important;
    }
    

    .select-style
    {
        overflow: hidden;
        background-color: #f1f1f1;
		background: #f1f1f1 url("/img/arrowdown.gif") no-repeat 98% 50%;
		margin: 0;
        padding:  0;
        width: 120px;
		border: 1px solid #ccc;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
		-webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
		box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    }

    .select-style select
    {
        padding: 5px 8px;
        width: 130%;
        border: none;
        box-shadow: none;
        background-color: transparent;
        background-image: none;
        -webkit-appearance: none;
        -moz-appearance:  none;
    }

 .select-style select:focus
    {
		border-color: #a6b969;
		outline: none;
		-moz-box-shadow: 0 0 0 1px #a6b969 inset;
		-webkit-box-shadow: 0 0 0 1px #a6b969 inset;
		box-shadow: 0 0 0 1px #a6b969 inset;
    }



    .login-select-style
    {
        overflow: hidden;
        background-color: #f1f1f1;
		background: #f1f1f1 url("/img/arrowdown.gif") no-repeat 98% 50%;
		margin: 0;
        padding:  0;
        width: 14em;
		border: 1px solid #ccc;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
		-webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
		box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    }

    .login-select-style select
    {
        padding: 5px 8px;
        width: 130%;
        border: none;
        box-shadow: none;
        background-color: transparent;
        background-image: none;
        -webkit-appearance: none;
        -moz-appearance:  none;
    }

 .login-select-style select:focus
    {
		border-color: #a6b969;
		outline: none;
		-moz-box-shadow: 0 0 0 1px #a6b969 inset;
		-webkit-box-shadow: 0 0 0 1px #a6b969 inset;
		box-shadow: 0 0 0 1px #a6b969 inset;
    }
    
    
.timedisplay
{
    border: none;
    content: '';
    display: block;
    clear: both;
    padding: 3px;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
}

.timedisplay:after{
    content:"";
    position:absolute;
    z-index:-1;
     bottom:0px;
    left:10%;
    right:10%;
    width:80%;
    height:50%;
    -moz-border-radius:100%;
    border-radius:100%;
}


.ui-spinner-button {
    margin: 2px !important;
}


.ui-widget-content {
        border :  none !important;
}
    
 .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.olcompressed {
        margin:  0px;
        padding: 0px;
}

.olverticalcompressed {
        margin:  0px;
  		padding: 0em 1em 0 1em !important;   
}


.helpcursor {
 cursor: help !important;
}


.tabOutline { 
     outline:none; 
     border:1px solid #6F9001;
     border-radius:2px;
     -moz-box-shadow: 0px 0px 2px  #6F9001;
     -webkit-box-shadow: 0px 0px 2px  #6F9001;
     box-shadow: 0px 0px 2px  #6F9001;
}

.outline {
     outline:none; 
     border:1px solid #4D90FE;
     -moz-box-shadow: 0px 0px 2px  #4D90FE;
     -webkit-box-shadow: 0px 0px 2px  #4D90FE;
     box-shadow: 0px 0px 2px  #4D90FE;
}

checkbox-style:disabled { opacity: 1}

/* Pop-up dialogs */

.popup-div-container
{
	display: none;
	width: 720px;
	/*height: 330px;*/
	background-color: #FFFFFF;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 200px;
	margin-left:-360px;
	opacity: 1;
	z-index: 1001;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
	background-image: -webkit-linear-gradient(top, #fff, #eee);
	background-image: -moz-linear-gradient(top, #fff, #eee);
	background-image: -ms-linear-gradient(top, #fff, #eee);
	background-image: -o-linear-gradient(top, #fff, #eee);
	background-image: linear-gradient(top, #fff, #eee);  
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.popup-div-container:before
{
	content: '';
	position: absolute;
	z-index: -1;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8);
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.8);
	box-shadow: 0 0 20px rgba(0,0,0,0.8);
	-moz-border-radius: 100px / 10px;
	border-radius: 100px / 10px;
}

.popup-div-container:after
{
	right: 0px;
	left: 0px;
	-webkit-transform: skew(8deg) rotate(3deg);
	-moz-transform: skew(8deg) rotate(3deg);
	-ms-transform: skew(8deg) rotate(3deg);
	-o-transform: skew(8deg) rotate(3deg);
	transform: skew(8deg) rotate(3deg);
}

.popup-div
{
	width: 704px;
	background-color: #FFFFFF;
	text-align:center;
	position:absolute;
	left: 50%;
	margin-left:-360px;
	opacity: 1;
	padding:  8px;
	z-index: 1002;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
	background-image: -webkit-linear-gradient(top, #fff, #eee);
	background-image: -moz-linear-gradient(top, #fff, #eee);
	background-image: -ms-linear-gradient(top, #fff, #eee);
	background-image: -o-linear-gradient(top, #fff, #eee);
	background-image: linear-gradient(top, #fff, #eee);  
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;  
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.popup-div fieldset
{
	float: left;
	width: 100%;
	margin: 0 0 1.5em 0;
	padding: 1em 0 0 0;
	clear: left;
}

.popup-div fieldset ol
{
	padding: 1em 1em 0 1em;
	list-style: none;
}  

.popup-div fieldset li
{
	float: none;
	padding-bottom: 1em;
}

.popup-title
{
	width:  100%;
	height: 40px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	z-index: 1003;
	text-align:  center;
	font-size: 14px;
	margin:  0 0 1em;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(166,185,105, .9)), to(rgba(106,125,48, 1)));
	background-image: -webkit-linear-gradient(top, rgba(166,185,105, .9), rgba(106,125,48, 1));
	background-image: -moz-linear-gradient(top, rgba(166,185,105, .9), rgba(106,125,48, 1));
	background-image: -ms-linear-gradient(top, rgba(166,185,105, .9), rgba(106,125,48, 1));
	background-image: -o-linear-gradient(top, rgba(166,185,105, .9), rgba(106,125,48, 1));
	background-image: linear-gradient(top, rgba(166,185,105, .9), rgba(106,125,48, 1));
}

.popup-title p
{
	margin: 0;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.popup-row
{
	position: relative;
	clear: both;
	margin-bottom: 1em;
	overflow: hidden;
}

.popup-row .normallabel
{
	width: 20em;
}

.popup-row .bigedit
{
	float: left;
}

#ipv6-div-container.popup-div
{
	height: 400px;
}

.tooltip-header {
	font-size: 16px;
	font-style: bold;
}

.tooltip-list {
	padding-left: 1em;
}