<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImageLogViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ImageLogViewer.Properties.Settings>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>763, 511</value>
            </setting>
            <setting name="ImageLogPort" serializeAs="String">
                <value>2222</value>
            </setting>
            <setting name="NXTLogPort" serializeAs="String">
                <value>2223</value>
            </setting>
            <setting name="FaceLogPort" serializeAs="String">
                <value>2224</value>
            </setting>
            <setting name="MotorLogPort" serializeAs="String">
                <value>2225</value>
            </setting>
            <setting name="EventLogPort" serializeAs="String">
                <value>2226</value>
            </setting>
            <setting name="SaveImagesToFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NXTLogLevel" serializeAs="String">
                <value>INFO</value>
            </setting>
            <setting name="FaceTrackingLogLevel" serializeAs="String">
                <value>INFO</value>
            </setting>
            <setting name="MotorLogLevel" serializeAs="String">
                <value>INFO</value>
            </setting>
            <setting name="EventLogLevel" serializeAs="String">
                <value>INFO</value>
            </setting>
            <setting name="DeviceIPAddress" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="DevicePort" serializeAs="String">
                <value>2221</value>
            </setting>
            <setting name="ImageLoggingMode" serializeAs="String">
                <value>radioDontLogImages</value>
            </setting>
            <setting name="IPWorkstation" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
        </ImageLogViewer.Properties.Settings>
    </userSettings>
</configuration>