@import url("/css/styleparent.css");


/** Override colors and such below... **/
body 
{
	color: #333;
	background-color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(102,102,102, .3)), to(rgba(20, 20, 20, 0.7)));
	background-image: -webkit-linear-gradient(top, rgba(102,102,102, .3), rgba(20, 20, 20, 0.7));
   	background-image: -moz-linear-gradient(top, rgba(102,102,102, .3), rgba(20, 20, 20, 0.7));
	background-image: -ms-linear-gradient(top, rgba(102,102,102, .3), rgba(20, 20, 20, 0.7));
	background-image: -o-linear-gradient(top, rgba(102,102,102, .3), rgba(20, 20, 20, 0.7));
	background-image: linear-gradient(top, rgba(102,102,102, .3), rgba(20, 20, 20, 0.7));
    background-attachment: fixed;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4D666666', endColorstr='#B3141414');/*For IE7-8-9*/ 
}

