ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="04b4", ATTR{idProduct}=="f232", RUN+="/bin/bash -c 'if [[ -f /home/root/configure_network.sh ]]; then /home/root/configure_network.sh; else /home/cypress_connected.sh; fi'"
