[Unit]
Description=Lighttpd Daemon
After=network.target

[Service]
ExecStartPre=/usr/sbin/lighttpd -t -f /home/root/lighttpd.conf
ExecStart=/usr/sbin/lighttpd -D -f /home/root/lighttpd.conf

[Install]
WantedBy=multi-user.target
