[Unit]
Description=Retrieving time from PIM RTC in Eyelock EXT system
Before=network.target time-sync.target cron.service
After=basic.target
[Service]
ExecStart=/home/root/i2cHandler -t
Type=forking
[Install]
WantedBy=multi-user.target